config
.env
config-generated
certs/*
!certs/rootCA.pem
!certs/wildduck.dockerized.test.pem
acme.json
acme.json.new
.bootstrap/

*.py
downloaded_eml/
test_eml/
docker-images/
/legacy-haraka/cert_update.log
